:host{
  display: flex;
}

.pedals{
  display: flex;
  height:22vw;
  margin-top: auto;

  [data-pedal]{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width:4vw;
    height: 100%;
    margin:0 1vw;
    background-color:#AAA;
    &  > span {
      display:inline-block;
      width: 100%;
      height: 100%;
      background-color:#AAA;
      vertical-align:top;
    }
    &[data-pedal="clutch"] {
      background-color:#FA0;
    }
    &[data-pedal="brake"] {
      background-color:#C00;
    }
    &[data-pedal="throttle"] {
      background-color:#0A0;
    }
  }
}
